/bin/*/*.exe
/bin/*.exe
/bin/Distribute/*.bin
*.pdb
*.ilk
*.idb
*.obj
*.log
*.lastbuildstate
*.tlog
*.user
*.a
*.dep
*.pch
*.bak
*.sbr
*.res
*.map
*.sdf
*.bsc
*.lastcodeanalysissucceeded
*.exp
*.lib
*.tlog
*.unsuccessfulbuild
*.codeanalysis
*.codeanalysisast
*.opensdf
/bin/Distribute - *
/bin/Release - *
/bin/Debug - *
*.suo
*.ipch
/*/*/Distribute/*.cod
/*/*/Release/*.cod
/*/*/Debug/*.cod
/*/*/Distribute/*.pdb
/*/*/Release/*.pdb
/*/*/Debug/*.pdb
/*/*/Distribute/*.ilk
/*/*/Release/*.ilk
/*/*/Debug/*.ilk
/*/*/Distribute/*.idb
/*/*/Release/*.idb
/*/*/Debug/*.idb
/*/*/Distribute/*.obj
/*/*/Release/*.obj
/*/*/Debug/*.obj
/*/*/Distribute/*.log
/*/*/Release/*.log
/*/*/Debug/*.log
/*/*/Distribute/*.lastbuildstate
/*/*/Release/*.lastbuildstate
/*/*/Debug/*.lastbuildstate
/*/*/Distribute/*.pch
/*/*/Release/*.pch
/*/*/Debug/*.pch
/*/*/Distribute/*.lib
/*/*/Release/*.lib
/*/*/Debug/*.lib
./M2Client.VC.db
./M2Client.VC.VC.opendb
/.vs/