/Bin/*/*.exe
game/src/quest/*.exe
*.pdb
*.ilk
*.idb
*.obj
*.log
*.lastbuildstate
*.tlog
*.user
*.dep
*.pch
*.bak
*.sbr
*.res
*.map
*.sdf
*.bsc
*.suo
*.db
*.opensdf
*.vcxproj.FileListAbsolute.txt
libpoly/*.lib
libsql/*.lib
libsql/lib/*.lib
libthecore/lib/*.lib
liblua/*.lib
liblua/lib/*.lib
libgame/lib/*.lib
/game/src/OBJDIR
/*.opendb
/build
/game/.vscode
/libcrypto/Debug
/packets/generated
*.nativecodeanalysis.xml
*.lastcodeanalysissucceeded
vc.nativecodeanalysis.all.xml
*.lastcodeanalysissucceeded
/.vs
